[submodule "submodules/python-mander"]
	path = submodules/python-mander
	url = https://github.com/gerrymandr/python-mander.git
[submodule "submodules/compactnesslib"]
	path = submodules/compactnesslib
	url = https://github.com/gerrymandr/compactnesslib.git
